@import "../../../public/common.scss";

.user-input-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-input {
  @extend .input-detail-style;
  // width: 90%;
  // height: 600px;
  // padding: 10px;
  // background-color: $window-color;
  // box-sizing: border-box;
  // border-top: 3px solid $dark-gray;
  // border-left: 3px solid $dark-gray;
  // border-bottom: 2px solid #fff;
  // border-right: 2px solid #fff;
  // margin: 10px 0px;
}
