@import "../../../public/common.scss";

.analysis-log-section {
  // border: 1px solid $font-color;
  // border-radius: $default-radius;
  padding: 10px;
  display: flex;
  // margin: 0px 10px;
}

.analysis-log {
  @extend .input-detail-style;
  width: 100%;
  // height: 600px;
  overflow: auto;
}
