@import "../../../public/common.scss";

.analysis-log-section {
  padding: 10px;
  display: flex;
}

.analysis-log {
  @extend .input-detail-style;
  width: 100%;
  // height: 600px;
  overflow: auto;
}
