@import "./reset.scss";
@import "./common.scss";

@font-face {
  font-family: "DOSMyungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $font-color;
  background-color: $window-backgrond-color;
}

.container,
button {
  font-family: "DOSMyungjo";
}

textarea,
pre {
  font-family: "DungGeunMo";
  font-size: 18px;
  line-height: 1.4rem;
  // font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 60%;
}

.input-section,
.output-section {
  background-color: $window-color;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 3px solid #222;
  border-right: 3px solid #222;
  margin: 10px;
  height: 710px;
  flex-grow: 2;
}
